# OS junk
.DS_Store
Thumbs.db

# Node & build
node_modules/
.npm/
.pnp.cjs
.pnp.loader.mjs
.cache/
dist/
.out/
.next/
.next/cache/
.turbo/
.swc/
coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env / secrets
.env
.env.*
!.env.example   # เก็บตัวอย่างตัวแปรไว้ได้ แต่ต้องไม่มีค่าเฉพาะจริง

# Tooling
.vercel/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Misc
*.local

.git/
